---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="Frontend Mentor | Time tracking dashboard">
  <main>
    <Profile />
    <Card
      color="light_red_work"
      icon="./src/assets/icon-work.svg"
      heading="Work"
      hours="32hrs"
      lastweek="Last week - 36 hours"
    />
    <Card
      color="soft_blue_play"
      icon="./src/assets/icon-play.svg"
      heading="Play"
      hours="10hrs"
      lastweek="Last week - 36 hours"
    />
    <Card
      color="light_red_study"
      icon="./src/assets/icon-study.svg"
      heading="Study"
      hours="4hrs"
      lastweek="Last week - 36 hours"
    />
    <Card
      color="lime_green_excercise"
      icon="./src/assets/icon-exercise.svg"
      heading="Excercise"
      hours="4hrs"
      lastweek="Last week - 36 hours"
    />
    <Card
      color="violet_social"
      icon="./src/assets/icon-social.svg"
      heading="Social"
      hours="5hrs"
      lastweek="Last week - 36 hours"
    />
    <Card
      color="soft_orange_selfcare"
      icon="./src/assets/icon-self-care.svg"
      heading="Self Care"
      hours="2hrs"
      lastweek="Last week - 36 hours"
    />
  </main>
</Layout>

<style>
  main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .red {
    background-color: red;
  }
</style>
