---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="Time tracking dashboard | Weekly">
  <main>
    <div class="profile_card">
      <Profile WeeklySelected />
    </div>
    <Card
      color="light_red_work"
      icon="./src/assets/icon-work.svg"
      heading="Work"
      hours="32hrs"
      lastweek="Last week - 36 hours"
    />
    <Card
      color="soft_blue_play"
      icon="./src/assets/icon-play.svg"
      heading="Play"
      hours="10hrs"
      lastweek="Last week - 8 hours"
    />
    <Card
      color="light_red_study"
      icon="./src/assets/icon-study.svg"
      heading="Study"
      hours="4hrs"
      lastweek="Last week - 7 hours"
    />
    <Card
      color="lime_green_excercise"
      icon="./src/assets/icon-exercise.svg"
      heading="Exercise"
      hours="4hrs"
      lastweek="Last week - 5 hours"
    />
    <Card
      color="violet_social"
      icon="./src/assets/icon-social.svg"
      heading="Social"
      hours="5hrs"
      lastweek="Last week - 10 hours"
    />
    <Card
      color="soft_orange_selfcare"
      icon="./src/assets/icon-self-care.svg"
      heading="Self Care"
      hours="2hrs"
      lastweek="Last week - 2 hours"
    />
  </main>
</Layout>

<style>
  main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  @media (min-width: 600px) {
    main {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 200px);
      row-gap: 50px;
      place-content: center;
      align-items: end;
    }
    .profile_card {
      margin-left: 50px;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
</style>
