---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Frontend Mentor | Time tracking dashboard">
  <main>
    <Card heading="Work" hours="32" lastweek="Last week - 36 hours" />
    <Card heading="Work" hours="32" lastweek="Last week - 36 hours" />
    <Card heading="Work" hours="32" lastweek="Last week - 36 hours" />
  </main>
</Layout>

<style></style>
