---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="Time tracking dashboard | Monthly">
  <main>
    <div class="profile_card">
      <Profile MonthlySelected />
    </div>
    <Card
      color="light_red_work"
      icon="/icon-work.svg"
      heading="Work"
      hours="103hrs"
      lastweek="Last Month - 128 hours"
    />
    <Card
      color="soft_blue_play"
      icon="/icon-play.svg"
      heading="Play"
      hours="23hrs"
      lastweek="Last Month - 29 hours"
    />
    <Card
      color="light_red_study"
      icon="/icon-study.svg"
      heading="Study"
      hours="13hrs"
      lastweek="Last Month - 19 hours"
    />
    <Card
      color="lime_green_excercise"
      icon="/icon-exercise.svg"
      heading="Exercise"
      hours="11hr"
      lastweek="Last Month - 18 hours"
    />
    <Card
      color="violet_social"
      icon="/icon-social.svg"
      heading="Social"
      hours="21hrs"
      lastweek="Last Month - 23 hours"
    />
    <Card
      color="soft_orange_selfcare"
      icon="/icon-self-care.svg"
      heading="Self Care"
      hours="7hrs"
      lastweek="Last Month - 11 hours"
    />
  </main>
</Layout>

<style>
  main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  @media (min-width: 600px) {
    main {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 200px);
      row-gap: 50px;
      place-content: center;
      align-items: end;
    }
    .profile_card {
      margin-left: 50px;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
</style>
