---
const { heading, hours, lastweek, color } = Astro.props;
---

<div class="card">
  <div class={`top_container ${color}`}></div>
  <div class="wrapper">
    <div class="first_column">
      <div class="heading">{heading}</div>
      <div class="hours">{hours}</div>
    </div>
    <div class="second_column">
      <img
        class="ellipsis"
        src="./src/assets/icon-ellipsis.svg"
        alt="elipsis icon"
      />
      <div class="last_week">{lastweek}</div>
    </div>
  </div>
</div>

<style>
  .card {
    position: relative;
  }
  .wrapper {
    margin-block: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 130px;
    position: relative;
    border-radius: 20px;
    background-color: hsl(235, 46%, 20%);
    z-index: 1;
    color: white;
  }

  .first_column {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .second_column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-end;
  }

  .top_container {
    border-radius: 20px 20px 0 0;
    background-color: orange;
    height: 60px;
    width: 350px;
    position: absolute;
    top: -20px;
  }

  .light_red {
    background-color: hsl(15, 100%, 70%);
  }

  /* Typography */

  .heading {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .hours {
    font-size: 2rem;
    font-weight: 400;
  }

  .ellipsis {
    width: 20px;
  }

  .last_week {
    font-size: 0.8rem;
    color: hsl(236, 100%, 87%);
  }
</style>
