---
---

<div class="profile_wrapper">
  <div class="profile_card">
    <div class="profile_img">
      <img
        class="profile_photo"
        src="./src/assets/image-jeremy.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile_info">
      <p class="report_for">Report for</p>
      <p class="name">Jeremy Robson</p>
    </div>
  </div>
  <div class="bottom_container">
    <p>Daily</p>
    <p>Weekly</p>
    <p>Monthly</p>
  </div>
</div>

<style>
  .profile_wrapper {
    position: relative;
    margin-bottom: 80px;
  }

  .profile_card {
    padding: 50px;
    border-radius: 20px;
    background-color: hsl(246, 80%, 60%);
    color: #ffff;
    display: flex;
    align-items: center;
    width: 350px;
    height: 150px;
    gap: 20px;
    z-index: 1;
    position: relative;
  }

  .profile_photo {
    height: 80px;
    border: 3px solid #ffff;
    border-radius: 50px;
  }

  .report_for {
    font-size: 0.8rem;
    color: hsl(236, 100%, 87%);
  }

  .name {
    font-size: 1.2rem;
  }

  .bottom_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 0px 20px 20px;
    height: 70px;
    width: 350px;
    position: absolute;
    bottom: -62px;
    color: white;
    background-color: hsl(235, 46%, 20%);
  }
</style>
