---
---

<div class="profile_wrapper">
  <div class="profile_card">
    <div class="profile_img">
      <img
        class="profile_photo"
        src="./src/assets/image-jeremy.png"
        alt=""
        srcset=""
      />
    </div>
    <div class="profile_info">
      <p class="report_for">Report for</p>
      <p class="name">Jeremy Robson</p>
    </div>
  </div>
</div>

<style>
  .profile_wrapper {
  }

  .profile_card {
    padding: 50px;
    border-radius: 20px;
    background-color: hsl(246, 80%, 60%);
    color: #ffff;
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
  }

  .profile_photo {
    height: 80px;
    border: 3px solid #ffff;
    border-radius: 50px;
  }
</style>
